@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background: linear-gradient(180deg, rgba(223, 253, 255, 0.58) 9.38%, rgba(92, 94, 94, 0.97) 58.85%);



  color: rgb(var(--foreground-rgb));
 

}

#video-wrapper{
  position: relative;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* overflow: hidden; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  }

#video-frame{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  /* opacity: 0.5; */
  object-fit: cover;  
  overflow: hidden;
  margin-top: 300px;
  margin-bottom: 400px;  
}

.border-style{
  border: 3px solid #C2FFD3;
}




/* FOOTER */
@media (max-width: 1000px) {
  .footer-center ul {
    flex-direction: column;
    align-items: center;
  }
}




/* 
nav, footer{
  background: linear-gradient(90deg, #FFFFFF00 4.22%, #C8EED334 22.27%, #B3F0C465 39.49%, #C2FFD3 93.33%);

} */
.extention{
background: linear-gradient(90deg, #444646 9.81%, #C2FFD3 97.41%);}