@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(180deg, rgba(223, 253, 255, 0.58) 9.38%, rgba(92, 94, 94, 0.97) 58.85%);
  color: rgb(var(--foreground-rgb));
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* font-family: Inter; */
    /* font-family: 'Jost', sans-serif; */

}




/* FOOTER */
@media (max-width: 1000px) {
  .footer-center ul {
    flex-direction: column;
    align-items: center;
  }
}



